# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Niklas Ignore filer

drone-space-of/addons.make
drone-space-of/config.make
drone-space-of/drone-space-of.xcodeproj/*
drone-space-of/Makefile
drone-space-of/openFrameworks-Info.plist
drone-space-of/Project.xcconfig
drone-space-of/bin/*
drone-space-of/obj/*
